<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body class="container">

<div class="p-5 bg-ligth rounded shadow mb-5"
     style="background: url('/agenda.svg') no-repeat right; background-size: contain">
  <h1 class="text-primary display-5">BesySoft Contacts</h1>
  <p class="fw-bold mt-3">
    Con esta aplicacion podras gestionar tu agenda virtual!
  </p>
  <p>Consulta, crea, asocia a tu empresa,  actualiza o elimina los contactos de forma facil y segura </p>
</div>

<h3>Empresa</h3>

<div class="alert alert-success alert-dismissible mt-3" th:if="${msgExito ne null}">
  [[${msgExito}]]
  <button type="button" class="btn-close" data-dbs-dismiss="alert"></button>
</div>

<div class="row">
<div class="text-end">
  <a href="/empresa" class="btn btn-primary">
    <i class="fa fa-plus"></i>Registrar empresa
  </a>
</div>
<div class="text-end">
  <a href="/contacto" class="btn btn-primary">
    <i class="fa fa-plus"></i> Contactos
  </a>
</div>
</div>
<form action="" method="get">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="input-group mb-3 ">
        <button class="btn btn-primary" type="submit" id="button-addon1">
          <i class="fa fa-search"></i>
        </button>
        <input type="text" name="busqueda" class="form-control" placeholder="Buscar por nombre" th:value="${param.busqueda}">
      </div>

    </div>

  </div>
</form>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Celular</th>
    <th>Email</th>
    <th>Fecha de Registro</th>
    <th>Empleados</th>
  </tr>
  </thead>


  <tbody>
  <tr th:each="empresa : ${empresaPage}" th:object="${empresa}">
    <td th:text="*{id}"></td>
    <td th:text="*{nombre}"></td>
    <td th:text="*{direccion}"></td>
    <td th:text="*{celular}"></td>
    <td th:text="*{email}"></td>
    <td th:text="*{#temporals.format(fechaRegistro, 'dd/MM/YYYY hh:mm a')}"></td>
    <td th:text="*{getcontacto()}"></td>
    <td>
      <div class="btn btn-group-sm">
        <a th:href="@{/{id}/editar(id=*{id})}" class="btn btn-primary">
          <i class="fa fa-edit"> </i></a>
        <button class="btn btn-danger" onclick="eliminarEmpresa(this)">
          <i class="fa fa-trash"></i></button>
        <form th:action="@{/{id}/eliminar(id=*{id})}" method="post"></form>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6">
    <div sd:pagination-summary=""></div>
  </div>
  <div class="col-sm-6">
    <nav class="pull-right">
      <ul class="pagination" sd:pagination="full">

      </ul>
    </nav>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script>
  function eliminarEmpresa(element) {
    let ok = confirm('Esta seguro de eliminar la empresa?');
    if (ok) {
      element.nextElementSibling.submit();
    }

  }
</script>
</body>
</html>
